body {
    font: 1.2em, bold, "Fira Sans", sans-serif;
    background: lightblue;
    text-align: center;
}
.jumbotron {
    font-size: 250%;
    background: yellowgreen;
}
ul {
    list-style: none;
    clear: both;

}
button {
    word-wrap: break-word;
    margin: 1%;
    
}
button:hover {
    background-color: gray;
}